{
    "presets": [
        "@babel/preset-env",
        "module:metro-react-native-babel-preset"
  
    ],
    "sourceMaps": true,
    "plugins": [
      ["@babel/plugin-proposal-decorators", { "legacy": true }],
      ["@babel/plugin-proposal-class-properties", { "loose": true }]
    ]
  }